<main>
  <section class="portada-wrapper | padding-block-700 bg-primary-400">
    <div class="container">
      <div class="heading-wrapper | txt-al-c-only-md">
        <div class="text-portada | flow">
          <h1
            class="fs-primary-heading fw-bold text-neutral-100 max-width-tight margin-i-auto"
          >
            Brindamos el cuidado especial que tu mascota necesita
          </h1>
          <p class="fs-body text-neutral-100 max-width-tight">
            Más de 20 años de experiencia atendiendo la salud de tu compañero
            leal
          </p>
          <button class="button" style="--flow-spacer: 2rem">
            Contáctanos
          </button>
        </div>
        <div class="image-portada hide-for-mobile">
          <img src="../../../../assets/imgs/dogAndCat.png" alt="Perro y gato" />
        </div>
      </div>
    </div>
  </section>
  <section class="padding-block-700 bg-primary-200">
    <div class="service-container | container flow">
      <div class="flow">
        <h2 class="fs-primary-heading fw-bold text-primary-400 txt-al-c">
          Nuestros Servicios
        </h2>
        <p class="fs-body text-neutral-500 max-width-loose margin-i-auto">
          En Pelupets tratamos a tu mascota como un miembro más de nuestro
          hogar. Le ofrecemos la mejor atención y los mejores servicios para que
          tenga un vida sana y feliz junto a ti y a todos a los que la aman.
        </p>
      </div>
      <div class="service-items-container | txt-al-c">
        <div>
          <div class="circle-icon">
            <div class="icon-container">
              <img
                src="../../../../assets/imgs/icono_consulta.png"
                alt="Un estetoscopio y el símbolo de la pata de un animal doméstico"
              />
            </div>
          </div>
          <h3 class="fs-secundary-heading fw-bold text-accent-200">
            Consultas
          </h3>
          <p class="fs-body text-neutral-500 max-width-tight margin-i-auto">
            Realizamos consultas con una atención de calidad y todo el amor que
            se merece su consentido.
          </p>
        </div>
        <div>
          <div class="circle-icon">
            <div class="icon-container">
              <img
                src="../../../../assets/imgs/icono_peluqueria.png"
                alt="Una tijera y una peinilla"
              />
            </div>
          </div>
          <h3 class="fs-secundary-heading fw-bold text-accent-200">
            Peluquería
          </h3>
          <p class="fs-body text-neutral-500 max-width-tight margin-i-auto">
            Dejamos a tu mascota limpia y divina para que luzca su belleza
            frente a todos
          </p>
        </div>
        <div>
          <div class="circle-icon">
            <div class="icon-container">
              <img
                src="../../../../assets/imgs/icono_hoteleria.png"
                alt="Un estetoscopio y el símbolo de la pata de un animal doméstico"
              />
            </div>
          </div>
          <h3 class="fs-secundary-heading fw-bold text-accent-200">
            Hostelería
          </h3>
          <p class="fs-body text-neutral-500 max-width-tight margin-i-auto">
            Hospedamos a tu mascota en un ambiente hogareño en donde ellos son
            lo más importante.
          </p>
        </div>
        <div>
          <div class="circle-icon">
            <div class="icon-container">
              <img
                src="../../../../assets/imgs/icono_diagnosticoPorImagen.png"
                alt="Un estetoscopio y el símbolo de la pata de un animal doméstico"
              />
            </div>
          </div>
          <h3 class="fs-secundary-heading fw-bold text-accent-200">
            Diagnosticos por imagen
          </h3>
          <p class="fs-body text-neutral-500 max-width-tight margin-i-auto">
            Realizamos las ecografías y tomografías necesarias para diagnosticar
            a tu mascota.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="padding-block-700">
    <div class="container | flow" data-spacing="loose">
      <h2 class="fs-primary-heading fw-bold text-primary-400 txt-al-c">
        Otros Servicios
      </h2>
      <div class="even-columns grid-other-service-container">
        <div class="other-service-card | bg-primary-200 padding-block-400">
          <div class="other-service-card__img">
            <img src="../../../../assets/imgs/icono_cirugia.png" alt="" />
          </div>
          <h3 class="fs-600 fw-bold text-accent-200">Cirugía</h3>
        </div>
        <div class="other-service-card | bg-primary-200 padding-block-400">
          <div class="other-service-card__img">
            <img src="../../../../assets/imgs/icono_vacuna.png" alt="" />
          </div>
          <h3 class="fs-600 fw-bold text-accent-200">Vacunas</h3>
        </div>
        <div class="other-service-card | bg-primary-200 padding-block-400">
          <div class="other-service-card__img">
            <img src="../../../../assets/imgs/icono_medicina.png" alt="" />
          </div>
          <h3 class="fs-600 fw-bold text-accent-200">Medicinas</h3>
        </div>
        <div class="other-service-card | bg-primary-200 padding-block-400">
          <div class="other-service-card__img">
            <img
              src="../../../../assets/imgs/icono_deparacitaciones.png"
              alt=""
            />
          </div>
          <h3 class="fs-600 fw-bold text-accent-200">Desparacitaciones</h3>
        </div>
        <div class="other-service-card | bg-primary-200 padding-block-400">
          <div class="other-service-card__img">
            <img src="../../../../assets/imgs/icono_petCare.png" alt="" />
          </div>
          <h3 class="fs-600 fw-bold text-accent-200">Cuidado de mascotas</h3>
        </div>
        <div class="other-service-card | bg-primary-200 padding-block-400">
          <div class="other-service-card__img">
            <img src="../../../../assets/imgs/icono_controlPrenez.png" alt="" />
          </div>
          <h3 class="fs-600 fw-bold text-accent-200">Control de preñez</h3>
        </div>
      </div>
    </div>
  </section>
  <section class="padding-block-700 bg-primary-400">
    <div class="container | flow">
      <div class="flow" data-spacing="tight">
        <h2 class="fs-625 fw-bold text-neutral-100 txt-al-c">
          Nuestros Productos
        </h2>
        <h3 class="fs-primary-heading fw-bold text-neutral-100 txt-al-c">
          Pelupet's Shampoo Medicado
        </h3>
      </div>
      <div class="product-wrapper">
        <div class="shampoo-img-container">
          <img
            src="../../../../assets/imgs/pelupets_producto1.png"
            alt="Pelupet's Shampoo Medicado"
          />
        </div>
        <div class="flex flex-d-c flex-jc-c flex-ai-c flow">
          <p class="fs-body fw-semi-bold text-neutral-100 max-width-tight">
            Hemos desarrollado un shampoo dedicado para el cuidado de la mascota
            de tu hogar.
          </p>
          <p class="fs-body fw-semi-bold text-neutral-100 max-width-tight">
            Todos nuestros clientes están encantados! Dejan a sus mascotas
            totalmente limpias, con un dulce aroma y felices.
          </p>
          <button class="button">Pide tu shampoo</button>
        </div>
      </div>
    </div>
  </section>
  <section class="padding-block-700 bg-accent-400">
    <div class="container | flow" data-spacing="looser">
      <h3
        class="fs-primary-heading fw-bold text-neutral-100 txt-al-c max-width-tighter margin-i-auto"
      >
        Mantente conectado con Pelupet's
      </h3>
      <div>
        <div class="pet-galery">
          <div>
            <img
              src="../../../../assets/imgs/imgConectado1.jpg"
              alt="Dr. Ariana atendiendo a un perro"
            />
          </div>
          <div>
            <img
              src="../../../../assets/imgs/imgConectado2.jpg"
              alt="Un perrito lobo posando en las instlaciones de Pelupet's"
            />
          </div>
          <div>
            <img
              src="../../../../assets/imgs/imgConectado3.jpg"
              alt="Dr. Ariana atendiendo con un perro frente al mural de Pelupet's"
            />
          </div>
        </div>
      </div>
      <div>
        <div class="flow flex flex-d-c flex-ai-c" data-spacing="tight">
          <div class="instagramWhite_logo">
            <img
              src="../../../../assets/imgs/icono_instagram.png"
              alt="Instagram logo"
            />
          </div>
          <p class="fs-secundary-heading fw-bold text-neutral-100">
            Síguenos en Instagram
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="padding-block-700 bg-primary-400">
    <div class="container | flow" data-spacing="loosest">
      <div class="flow" data-spacing="loose">
        <div class="flow">
          <h2 class="fs-primary-heading fw-bold text-neutral-900 txt-al-c">
            Contáctanos
          </h2>
          <p class="fw-bold text-neutral-900 txt-al-c">
            Comunícate con nosotros para agendar tu cita
          </p>
        </div>
        <div>
          <div class="contact-container">
            <div class="phone-icon-container | bg-primary-200">
              <div class="phone-icon-img">
                <img src="../../../../assets/imgs/icono_phone.png" />
              </div>
            </div>
            <div class="fw-bold text-accent-200 txt-al-c flex flex-d-c">
              <div class="contact-number-up | bg-primary-200">
                <span>0992830757</span>
              </div>
              <div class="contact-number-down | bg-primary-200">
                <span>0998057573</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ds-wrapper">
        <div class="direction-schedule-container">
          <div>
            <div class="flow" data-spacing="loose">
              <h2 class="fs-primary-heading fw-bold text-neutral-900 txt-al-c">
                Horarios
              </h2>
              <div class="schedule-container | bg-neutral-100">
                <div class="flow" data-spacing="loose">
                  <div class="flow" style="--flow-spacer: 1rem">
                    <h3 class="text-accent-500 fw-black txt-al-c">
                      Lunes a viernes
                    </h3>
                    <div class="grid-schedule-container | even-columns">
                      <div class="text-accent-200 fw-bold flex flex-d-c flex-jc-sb">
                        <span>Consultas</span>
                        <span>Peluquería</span>
                      </div>
                      <div class="text-accent-200 fw-bold flex flex-d-c flex-jc-sb">
                        <span>9h00 - 15h00</span>
                        <span>9h00 - 19h30</span>
                      </div>
                    </div>
                  </div>
                  <div class="txt-al-c">
                    <div class="flow" style="--flow-spacer: 1rem">
                      <h3 class="text-accent-500 fw-black">Sábados</h3>
                      <div>
                        <span class="text-accent-200 fw-bold">10h00 - 15h30</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="flow" data-spacing="loose">
              <h2 class="fs-primary-heading fw-bold text-neutral-900 txt-al-c">
                Dirección
              </h2>
              <div class="flex flex-jc-c">
                <div class="location-icon-container">
                  <img src="../../../../assets/imgs/icono_location.png" alt="" />
                </div>
                <div class="flex flex-ai-c txt-al-c">
                  <p class="text-accent-500 fw-bold max-width-tight">
                    Via Autop. Terminal Terrestre Ubr. Metropolis 2 Etapa “A”
                  </p>
                </div>
              </div>
            </div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
