<footer class="padding-block-500 bg-neutral-900">
  <div class="footer-container | container flow" style="--flow-spacer: 2rem">
    <div>
      <a class="pelupets-logo-container" href="/">
        <img src="../../../../assets/imgs/logo.png" alt="Pelupte's logo" />
      </a>
      <div class="social-links">
        <a
          class="instagramWhite_logo"
          target="_blank"
          href="https://www.instagram.com/pelupets_vet/"
        >
          <img src="../../../../assets/imgs/icono_instagramWhite.png" alt="" />
        </a>
      </div>
    </div>
    <nav class="footer-nav">
      <ul class="flow" role="list" aria-label="footer" data-spacing="normal">
        <li><a routerLink="sobre-nosotros">Sobre Nosotros</a></li>
        <li><a routerLink="servicios">Servicios</a></li>
        <li><a routerLink="productos">Productos</a></li>
        <li><a routerLink="pet-fotos">Pet Fotos</a></li>
        <li><a routerLink="contacto">Contacto</a></li>
      </ul>
    </nav>
    <div>
      <a
        class="location-container"
        target="_blank"
        rel="noopener noreferrer"
        href="https://goo.gl/maps/39ZeZ5kbawT1bJLk8"
      >
        <div class="location-container__img">
          <img src="../../../../assets/imgs/icono_location-white.png" alt="" />
        </div>
        <p class="txt-al-c">Urb. Metropolis 2, Autop. Terminal Terrestre</p>
      </a>
    </div>
    <div class="phone-container">
      <div class="phone-container__img">
        <img src="../../../../assets/imgs/icono_phone-white.png" alt="" />
      </div>
      <div>
        <a class="text-neutral-100" href="tel:0992830757">099 283 0757</a>
        <a class="text-neutral-100" href="tel:0998057573">099 805 7573</a>
      </div>
    </div>
  </div>
</footer>
