<footer class="padding-block-700 bg-neutral-900">
  <div class="flow flex flex-d-c flex-ai-c">
    <a class="pelupets-logo-container" href="/">
      <img src="../../../../assets/imgs/logo.png" alt="Pelupte's logo" />
    </a>
    <p>Urb. Metropolis 2, Autop. Terminal Terrestre</p>
    <a class="text-neutral-100" href="tel:0992830757"
      ><span>099 283 0757</span></a
    >
    <a class="text-neutral-100" href="tel:0998057573"
      ><span>099 805 7573</span></a
    >
    <a
      class="instagramWhite_logo"
      href="https://www.instagram.com/pelupets_vet/"
    >
      <img src="../../../../assets/imgs/icono_instagramWhite.png" alt="" />
    </a>
  </div>
</footer>
