<div class="padding-block-end-400">
  <div class="service-container | container padding-block-200">
    <div class="img-container"></div>
    <div class="text-container | flow" data-spacing="tighter">
      <h2 class="fs-primary-heading text-primary-400 fw-semi-bold">
        Sobre Peluquería en Pelupet's
      </h2>
      <p class="text-neutral-500 fs-500">
        Pelupet's cree que el aseo regular ayuda a mantener
        a su mascota limpia y cómoda. Los peluqueros de mascotas no solo están
        capacitados para ayudar a que su mascota se vea lo mejor posible, sino
        que también están capacitados para detectar posibles problemas de salud,
        como pulgas, garrapatas, bultos debajo de la piel, erupciones u otros
        problemas que podrían ser potencialmente dañinos para su mascota.
      </p>
    </div>
  </div>
</div>
