<main>
  <div class="top_heading | container">
    <h1 class="fs-secundary-heading fw-bold text-primary-400">Contacto</h1>
  </div>
  <div class="contact-container">
    <div class="map" #map></div>
    <div class="contact-container__info bg-primary-200">
      <div class="container flow padding-block-500" data-spacing="loose">
        <h1 class="fs-800 fw-bold text-primary-400">Pelupet's</h1>
        <div class="flow" data-spacing="tighter">
          <div class="fs-625 text-neutral-500">
            <h2 class="fw-semi-bold">Dirección</h2>
            <p>Urb. Metropolis 2 Etapa 'A', Autop. Terminal Terrestre</p>
          </div>
          <div class="calls">
            <h2 class="text-neutral-500 fs-625 fw-semi-bold">
              Números de contacto
            </h2>
            <div class="fs-625">
              <a class="text-neutral-500" href="tel:0992830757">099 283 0757</a>
              <a class="text-neutral-500" href="tel:0998057573">099 805 7573</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-primary-400 hide-for-mobile">
    <div class="beneath-bar | container">
      <a
        href="https://www.google.com.ec/maps/place/Metr%C3%B3polis+2+etapa+A/@-2.0658265,-79.9127422,17z/data=!4m14!1m7!3m6!1s0x902d127b04069109:0x18f805634df3144a!2sMetropolis+II!8m2!3d-2.0653775!4d-79.9170315!16s%2Fg%2F11_tx185t!3m5!1s0x902d127a33a05985:0x681a3b22723b68b3!8m2!3d-2.0659134!4d-79.9126862!16s%2Fg%2F11c5mc47wg?hl=es"
        target="_blank"
        class="button"
        >Ver mapa más grande</a
      >
    </div>
  </div>
  <div class="bg-accent-400">
    <div class="cta | container">
      <p class="fs-800 fw-semi-bold">Haz una cita</p>
      <a href="https://wa.link/n2x0hq" target="_blank" class="button" data-type="green">Contáctanos</a>
    </div>
  </div>
</main>
