<main>
  <div class="top_heading | container">
    <h1 class="fs-secundary-heading fw-bold text-primary-400">Productos</h1>
  </div>
  <div class="padding-block-200">
    <div class="producto-container | container flow" data-spacing="tighter">
      <h2 class="fs-800 text-primary-400 fw-semi-bold">
        Shampoo Medicado Pelupet's
      </h2>
      <div class="producto-container__flex | flow">
        <div class="text-neutral-500 flow" data-spacing="tighter">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
            sagittis eget diam ac tempor. Sed ultricies tempus fermentum. Nulla
            justo libero, imperdiet elementum justo id, aliquam sollicitudin
            felis. Integer consectetur at velit ut luctus. Fusce at ex ut ante
            ultrices convallis congue tincidunt elit. Maecenas sed convallis
            lectus. Nam mattis diam lacus, in egestas sem vulputate eu. In
            hendrerit efficitur venenatis. Maecenas nec leo velit. Class aptent
            taciti sociosqu ad litora torquent per conubia nostra, per inceptos
            himenaeos. Suspendisse congue vitae quam varius tincidunt. Integer
            rhoncus vitae ante vitae cursus. Integer quam velit, scelerisque sed
            lorem dapibus, aliquam hendrerit mauris.
          </p>
          <p>
            Sed vitae lacus et augue suscipit ultricies vitae vel elit. Donec
            tempus nulla ut ante pulvinar bibendum. Nunc vestibulum viverra
            libero, quis laoreet arcu. Etiam consequat tellus hendrerit sapien
            porttitor, a ultricies metus pellentesque. Vivamus posuere tincidunt
            lorem in facilisis. Donec lobortis lorem eu arcu ultricies
            convallis. Aenean dolor felis, fringilla ut mauris vitae, iaculis
            venenatis elit. Vivamus varius, felis scelerisque suscipit
            imperdiet, leo quam sodales mi, eu sodales eros diam in ipsum. Morbi
            vestibulum commodo arcu, non vehicula urna dapibus vitae. Donec at
            posuere odio, eu vulputate nisi. Morbi libero velit, aliquet ac
            posuere in, euismod vitae odio. Nam ac lorem non lectus malesuada
            tincidunt.
          </p>
        </div>
        <div>
          <img src="../../../../assets/imgs/pelupets_producto1.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="padding-block-200">
    <div class="producto-container | container flow" data-spacing="tighter">
      <h2 class="fs-800 text-primary-400 fw-semi-bold">
        Jabón Pelupet's
      </h2>
      <div class="producto-container__flex inverso-order | flow">
        <div class="text-neutral-500 flow" data-spacing="tighter">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
            sagittis eget diam ac tempor. Sed ultricies tempus fermentum. Nulla
            justo libero, imperdiet elementum justo id, aliquam sollicitudin
            felis. Integer consectetur at velit ut luctus. Fusce at ex ut ante
            ultrices convallis congue tincidunt elit. Maecenas sed convallis
            lectus. Nam mattis diam lacus, in egestas sem vulputate eu. In
            hendrerit efficitur venenatis. Maecenas nec leo velit. Class aptent
            taciti sociosqu ad litora torquent per conubia nostra, per inceptos
            himenaeos. Suspendisse congue vitae quam varius tincidunt. Integer
            rhoncus vitae ante vitae cursus. Integer quam velit, scelerisque sed
            lorem dapibus, aliquam hendrerit mauris.
          </p>
          <p>
            Sed vitae lacus et augue suscipit ultricies vitae vel elit. Donec
            tempus nulla ut ante pulvinar bibendum. Nunc vestibulum viverra
            libero, quis laoreet arcu. Etiam consequat tellus hendrerit sapien
            porttitor, a ultricies metus pellentesque. Vivamus posuere tincidunt
            lorem in facilisis. Donec lobortis lorem eu arcu ultricies
            convallis. Aenean dolor felis, fringilla ut mauris vitae, iaculis
            venenatis elit. Vivamus varius, felis scelerisque suscipit
            imperdiet, leo quam sodales mi, eu sodales eros diam in ipsum. Morbi
            vestibulum commodo arcu, non vehicula urna dapibus vitae. Donec at
            posuere odio, eu vulputate nisi. Morbi libero velit, aliquet ac
            posuere in, euismod vitae odio. Nam ac lorem non lectus malesuada
            tincidunt.
          </p>
        </div>
        <div>
          <img src="../../../../assets/imgs/pelupets_jabon.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="bg-accent-400">
    <div class="cta | container">
      <p class="fs-800 fw-semi-bold">Solicita tus productos</p>
      <button class="button" data-type="green">Contáctanos</button>
    </div>
  </div>
</main>
