<div class="padding-block-500">
  <div class="container | flow" data-spacing="loose">
    <div class="even-columns grid-other-service-container">
      <a [routerLink]="['/servicios/consultas']">
        <div class="other-service-card | bg-primary-200 padding-block-400">
          <div class="other-service-card__img">
            <img src="../../../../assets/imgs/icono_consulta-black.png" alt="" />
          </div>
          <h3 class="fs-600 fw-bold text-accent-200">Consulta</h3>
        </div>
      </a>
      <a [routerLink]="['/servicios/peluqueria']" >
        <div class="other-service-card | bg-primary-200 padding-block-400">
          <div class="other-service-card__img">
            <img src="../../../../assets/imgs/icono_peluqueria-black.png" alt="" />
          </div>
          <h3 class="fs-600 fw-bold text-accent-200">Peluquería</h3>
        </div>
      </a>
      <a [routerLink]="['/servicios/hosteleria']">
        <div class="other-service-card | bg-primary-200 padding-block-400">
          <div class="other-service-card__img">
            <img src="../../../../assets/imgs/icono_hoteleria-black.png" alt="" />
          </div>
          <h3 class="fs-600 fw-bold text-accent-200">Hostelería</h3>
        </div>
      </a>
      <a [routerLink]="['/servicios/diagnosticos-por-imagen']">
        <div class="other-service-card | bg-primary-200 padding-block-400">
          <div class="other-service-card__img">
            <img src="../../../../assets/imgs/icono_diagnosticoPorImagen-black.png" alt="" />
          </div>
          <h3 class="fs-600 fw-bold text-accent-200">Diagnóstico por imagen</h3>
        </div>
      </a>
      <a [routerLink]="['/servicios/cirugia']">
        <div class="other-service-card | bg-primary-200 padding-block-400">
          <div class="other-service-card__img">
            <img src="../../../../assets/imgs/icono_cirugia.png" alt="" />
          </div>
          <h3 class="fs-600 fw-bold text-accent-200">Cirugía</h3>
        </div>
      </a>
      <a [routerLink]="['/servicios/vacunas']">
        <div class="other-service-card | bg-primary-200 padding-block-400">
          <div class="other-service-card__img">
            <img src="../../../../assets/imgs/icono_vacuna.png" alt="" />
          </div>
          <h3 class="fs-600 fw-bold text-accent-200">Vacunas</h3>
        </div>
      </a>
      <a [routerLink]="['/servicios/medicinas']">
        <div class="other-service-card | bg-primary-200 padding-block-400">
          <div class="other-service-card__img">
            <img src="../../../../assets/imgs/icono_medicina.png" alt="" />
          </div>
          <h3 class="fs-600 fw-bold text-accent-200">Medicinas</h3>
        </div>
      </a>
      <a [routerLink]="['/servicios/desparacitaciones']">
        <div class="other-service-card | bg-primary-200 padding-block-400">
          <div class="other-service-card__img">
            <img
              src="../../../../assets/imgs/icono_deparacitaciones.png"
              alt=""
            />
          </div>
          <h3 class="fs-600 fw-bold text-accent-200">Desparacitaciones</h3>
        </div>
      </a>
      <a [routerLink]="['/servicios/cuidado-de-mascotas']">
        <div class="other-service-card | bg-primary-200 padding-block-400">
          <div class="other-service-card__img">
            <img src="../../../../assets/imgs/icono_petCare.png" alt="" />
          </div>
          <h3 class="fs-600 fw-bold text-accent-200">Cuidado de mascotas</h3>
        </div>
      </a>
      <a [routerLink]="['/servicios/control-de-preñez']">
        <div class="other-service-card | bg-primary-200 padding-block-400">
          <div class="other-service-card__img">
            <img
              src="../../../../assets/imgs/icono_controlPrenez.png"
              alt=""
            />
          </div>
          <h3 class="fs-600 fw-bold text-accent-200">Control de preñez</h3>
        </div>
      </a>
    </div>
  </div>
</div>
