<div class="padding-block-end-400">
  <div class="service-container | container padding-block-200">
    <div class="img-container"></div>
    <div class="text-container | flow" data-spacing="tighter">
      <h2 class="fs-primary-heading text-primary-400 fw-semi-bold">
        Sobre Cuidado de Mascotas en Pelupet's
      </h2>
      <p class="text-neutral-500 fs-500">
        El cuidado del bienestar de su perro conducirá a una vida más larga y
        saludable para su familiar canino. Junto con sus cuidadosas
        observaciones en el hogar, anuales o semestrales (dependiendo de la edad
        y la condición médica de su perro) son una parte importante del cuidado
        del bienestar de su perro. Durante nuestros exámenes de bienestar,
        escucharemos su corazón y pulmones, inspeccionaremos su piel y pelaje,
        orejas, ojos, nariz y garganta de su perro. Le daremos a su perro las
        vacunas necesarias contra enfermedades infecciosas y potencialmente
        mortales. El examen de bienestar de su perro es un buen momento para que
        hable con nosotros sobre cualquier pregunta o inquietud que tenga con
        respecto a la salud de su perro. Podemos hablar sobre dieta y nutrición,
        alergias, cuidado dental y problemas de comportamiento, problemas de
        movilidad o cualquier cambio relacionado con el estilo de vida y la
        edad.
      </p>
    </div>
  </div>
</div>
