<div class="padding-block-end-400">
  <div class="service-container | padding-block-200 container">
    <div class="img-container"></div>
    <div class="text-container | flow" data-spacing="tighter">
      <h2 class="fs-800 text-primary-400 fw-semi-bold">
        Sobre Cirugía en Pelupet's
      </h2>
      <p class="text-neutral-500 fs-500">
        Pelupet's para la atención quirúrgica se especializa en procedimientos
        quirúrgicos seguros y efectivos para perros, gatos y otros animales
        pequeños. Nuestro equipo trabaja en colaboración con las otras
        especialidades para garantizar un tratamiento holístico que reduce el
        dolor y promueve la curación rápida. Nuestros cirujanos veterinarios
        altamente capacitados y experimentados están disponibles los 7 días de
        la semana, los 365 días del año para brindar la mejor atención posible a
        su mascota.
      </p>
    </div>
  </div>
  <div class="bg-primary-200">
    <div
      class=" container padding-block-450 flow"
      data-spacing="tight"
    >
    <h3 class="fs-700 text-primary-400 fw-semi-bold">Servicios</h3>
    <div class="cirugia-container-flex" >
      <div class="flow" data-spacing="tight">
        <div class="flow" data-spacing="tighter">
          <h4 class="fs-625 text-primary-400 fw-semi-bold">
            Cirugía Ortopédica
          </h4>
          <p class="fs-500 text-neutral-500" style="--flow-spacer: 1rem">
            Nuestros cirujanos veterinarios ortopédicos se especializan en
            lesiones de huesos, articulaciones y la columna vertebral.
            Utilizamos técnicas de vanguardia, como dispositivos de enchapado
            óseo, fijación, y trabajamos en estrecha colaboración con nuestro
            servicio de medicina integradora y de rehabilitación para
            proporcionar un enfoque integral para el diagnóstico, el tratamiento
            y la recuperación. Nuestro objetivo es tratar a su mascota de manera
            segura y efectiva y devolverla a altos niveles de movilidad y
            calidad de vida.
          </p>
          <p class="fs-500 text-neutral-500">
            Algunos procedimientos ortopédicos comunes que realizamos en AMC
            incluyen:
          </p>
          <ul class="text-neutral-500">
            <li>Cirugía de osteotomía de nivelación de meseta tibial (TPLO)</li>
            <li>
              Displasia de cadera canina (CHD)&nbsp;y&nbsp;reemplazo total de
              cadera (THR)
            </li>
            <li>
              Luxación de rótula medial o lateral (MPL/LPL), o Kneecap dislocada
            </li>
            <li>Ruptura del ligamento crucial craneal</li>
            <li>Estabilización de fractura (hombro, codo y rodilla)</li>
            <li>Artroscopia y reparación de fracturas mínimamente invasivas</li>
            <li>Tratamiento con osteoartritis</li>
            <li>
              Tratamiento de lesiones musculotendinosas (tensiones, esguinces o
              trauma a tejido blando)
            </li>
            <li>
              Terapias regenerativas, como:
              <ul>
                <li>Terapia de ondas de choque</li>
                <li>Terapia de células madre</li>
                <li>Tratamiento con plasma rico en plaquetas (PRP)</li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="flow" data-spacing="tighter">
          <h4 class="fs-625 text-primary-400 fw-semi-bold">
            Oncología quirúrgica
          </h4>
          <p class="fs-500 text-neutral-500" style="--flow-spacer: 1rem">
            El oncólogo quirúrgico de AMC, el Dr. Jonathan Ferrari, es el único
            oncólogo quirúrgico veterinario en la ciudad de Nueva York y es uno
            de los pocos oncólogos quirúrgicos veterinarios en todo el mundo.
            Con el Dr. Ferrari en el personal, AMC puede ofrecer atención de
            cáncer integral de gatos, perros y otros pacientes con animales. El
            Dr. Ferrari trabaja con los servicios de cirugía y oncología para
            coordinar el tratamiento entre procedimientos quirúrgicos,
            radioterapia, quimioterapia e inmunoterapia. Como un solo
            tratamiento, la cirugía cura a más animales con cáncer que cualquier
            otro tratamiento, ofreciendo una nueva esperanza para las mascotas
            con cáncer.
          </p>
        </div>
      </div>
      <div class="flow izquierda" data-spacing="tight">
        <div class="flow" data-spacing="tighter">
          <h4 class="fs-625 text-primary-400 fw-semi-bold">
            Cirugía de tejidos blandos
          </h4>
          <p class="fs-500 text-neutral-500" style="--flow-spacer: 1rem">
            La cirugía de tejidos blandos trata las enfermedades del pecho, el
            abdomen, la piel y otros tejidos blandos. Al realizar procedimientos
            de tejidos blandos, los cirujanos veterinarios de AMC trabajan en
            estrecha colaboración con especialistas en medicina interna,
            cardiología, oncología, neurología, imágenes de diagnóstico y
            cuidados críticos para encontrar terapias seguras, efectivas y
            mínimamente invasivas. Este enfoque de colaboración significa que su
            mascota se beneficia de una variedad de experiencia médica y
            quirúrgica, asegurando la mejor atención posible.
          </p>
          <p class="fs-500 text-neutral-500">
            Algunos procedimientos comunes que realizamos incluyen:
          </p>
          <ul class="text-neutral-500">
            <li>Eliminación de masa</li>
            <li>Biopsia</li>
            <li>Esterilización laparoscópica</li>
            <li>Gastropexi laparoscópica</li>
            <li>Cystotomía</li>
            <li>Esplenectomía</li>
            <li>Cirugía gastrointestinal</li>
            <li>Cirugía del síndrome braquicefálico</li>
            <li>Eliminación del tumor pulmonar</li>
            <li>Extracción de masa hepática</li>
            <li>Cirugía de derivación poresistémica extrahepática</li>
          </ul>
        </div>
        <div class="flow" data-spacing="tighter">
          <h3 class="fs-700 text-primary-400 fw-semi-bold">
            Cirugía mínimamente invasiva
          </h3>
          <p class="fs-500 text-neutral-500" style="--flow-spacer: 1rem">
            Los procedimientos mínimamente invasivos usan pequeñas incisiones
            para tratar quirúrgicamente a los pacientes. Las pequeñas incisiones
            permiten tiempos de recuperación más rápidos y menos molestias que
            la cirugía convencional. Siempre que sea posible y médicamente
            apropiado, AMC opta por procedimientos mínimamente invasivos para
            sus pacientes. Estos procedimientos incluyen:
          </p>
          <ul class="text-neutral-500">
            <li>
              <strong class="fw-bold"> Artroscopia:</strong> un procedimiento
              quirúrgico utilizado para examinar y tratar la enfermedad
              articular
            </li>
            <li>
              <strong class="fw-bold"> Fluoroscopia:</strong> una radiografía
              continua que permite a los veterinarios ver un área lesionada en
              detalle (a menudo usada con huesos rotos)
            </li>
            <li>
              <strong class="fw-bold"> Toracoscopia:</strong> Un procedimiento
              utilizado para examinar o biopsiar el interior del tórax para
              ayudar a identificar y tratar ciertas enfermedades cardíacas y
              pulmonares
            </li>
            <li>
              <strong class="fw-bold"> Laparoscopia:</strong> una herramienta
              quirúrgica utilizada para ver los órganos internos y tratar
              ciertas condiciones
            </li>
            <li>
              <strong class="fw-bold"
                >Radiología intervencionista y endoscopia
                intervencionista:</strong
              >
              estas técnicas guiadas por imágenes ayudan a las veterinarias a
              diagnosticar y tratar afecciones en casi todos los sistemas de
              órganos.
            </li>
          </ul>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="container padding-block-450 flow" data-spacing="tight">
    <h3 class="fs-700 text-primary-400 fw-semi-bold">Servicios adjuntos</h3>
    <div class="cirugia-container-flex">
      <div>
        <div class="flow" data-spacing="tighter">
          <h4 class="fs-625 text-primary-400 fw-semi-bold">
            Anestesia y manejo del dolor
          </h4>
          <p class="fs-500 text-neutral-500" style="--flow-spacer: 1rem">
            El equipo quirúrgico trabaja en estrecha colaboración con el
            anestesiólogo certificado por la junta de AMC para adoptar un enfoque
            seguro, efectivo y holístico para la anestesia y el manejo del dolor.
            Nos aseguramos de comprender completamente el historial médico y la
            condición de su mascota antes de administrar anestesia o realizar
            cualquier procedimiento.
          </p>
        </div>
        <div class="flow" data-spacing="tighter">
          <h4 class="fs-625 text-primary-400 fw-semi-bold">
            Odontología y Cirugía Maxilofacial
          </h4>
          <p class="fs-500 text-neutral-500" style="--flow-spacer: 1rem">
            El equipo de dentistas veterinarios de Pelupet's se especializa en el
            tratamiento de muchas enfermedades, lesiones y defectos en la cabeza, el
            cuello, la cara, las mandíbulas y los tejidos duros y suaves de la
            región oral (boca) y maxilofacial (mandíbulas y cara). Algunos de los
            procedimientos quirúrgicos que realizamos en colaboración con los
            dentistas de Pelupet's incluyen:
          </p>
          <ul class="text-neutral-500">
            <li>Reparación de fracturas de la mandíbula</li>
            <li>Extracciones de dientes quirúrgicos</li>
            <li>rellenos y restauraciones</li>
            <li>Tratamiento de la enfermedad de las encías</li>
            <li>Cirugía de cáncer oral</li>
          </ul>
        </div>
      </div>
      <div>
        <div class="flow" data-spacing="tighter">
          <h4 class="fs-625 text-primary-400 fw-semi-bold">
            Imágenes de diagnóstico y radiología
          </h4>
          <p class="fs-500 text-neutral-500" style="--flow-spacer: 1rem">
            El servicio de diagnóstico de imágenes y radiología de AMC utiliza
            técnicas de imagen avanzada para ayudar al servicio de cirugía en la
            planificación quirúrgica de animales de compañía. El departamento está
            dirigido por dos radiólogos certificados por la junta y emplea
            tecnología de imagen veterinaria de última generación, que incluye:
          </p>
          <ul class="text-neutral-500">
            <li>Radiografía (rayos X)</li>
            <li>Ultrasonido</li>
            <li>Tomografía computarizada (CT)</li>
            <li>Imágenes de resonancia magnética (MRI)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
