<main class="">
  <div class="bg-accent-400">
    <div class="top_heading | container">
      <h1 class="fs-secundary-heading fw-bold text-neutral-100">
        Sobre Nosotros
      </h1>
    </div>
  </div>
  <div>
    <div class="about-us-img hide-for-mobile">
      <div class="about-us-img__text">
        <p class="fs-800 fw-bold text-neutral-100">
          Pelupet's cuida de tu mascota
        </p>
      </div>
    </div>
    <div class="quienes-somos-container | container flow padding-block-450" data-spacing="tight">
      <div class="quienes-somos-container__text | flow" data-spacing="tighter">
        <h2 class="fs-primary-heading fw-semi-bold text-primary-400">
          ¿Quienes somos?
        </h2>
        <div class="flow" data-spacing="tighter">
          <p class="text-neutral-500">
            ¡Bienvenido a Pelupet's! Proporcionar la mejor atención posible para
            usted y su mascota es nuestra primera prioridad. ¡Somos una clínica sin
            cita previa, lo que significa que no necesita una cita para visitarnos!
            La cirugía y los tratamientos dentales se brindan solo con cita previa.
          </p>
          <p class="text-neutral-500">
            Ofrecemos soluciones veterinarias para todas sus necesidades de cuidado
            de mascotas a los mejores precios posibles. No olvide completar nuestro
            formulario en línea para nuevos clientes o descargar el formulario y
            traerlo con usted en su primera visita.
          </p>
        </div>
      </div>
      <div class="quienes-somos-container__img">
        <img src="../../../../assets/imgs/about-us-dog.jpg" alt="">
      </div>
    </div>
    <div class="doctor-container | flow container padding-block-450" data-spacing="tight">
      <div class="flow" data-spacing="tighter">
        <h2 class="fs-primary-heading fw-semi-bold text-primary-400">
          Dra. Ariana Fierro Flor
        </h2>
        <div class="doctor-container__text flow hide-for-mobile">
          <p class="text-neutral-500">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nulla
            metus, porttitor eget sapien non, finibus ultrices velit. Donec
            rutrum finibus tellus eleifend fermentum. Vestibulum mattis ornare
            elit, non iaculis ipsum dignissim sit amet.
          </p>
          <p class="text-neutral-500">
            Nunc vitae diam mi. Fusce nulla velit, faucibus non purus sit amet,
            condimentum commodo diam. Nunc rutrum nisl ac pharetra condimentum.
            Pellentesque fringilla justo tortor, eu consequat orci faucibus non.
            Suspendisse accumsan felis non ornare feugiat. Phasellus sit amet
            tempus arcu, non placerat leo. Curabitur dictum aliquet elit, id
            congue leo consequat eget.
          </p>
        </div>
      </div>
      <div class="doctor-container__img">
        <img
          src="../../../../assets/imgs/dr-ariana-fierro.jpg"
          alt="Dr. Ariana Fierro con un perrito frente al mural de Pelupet's"
        />
      </div>
      <div class="flow hide-for-desktop" data-spacing="tighter">
        <p class="text-neutral-500">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nulla
          metus, porttitor eget sapien non, finibus ultrices velit. Donec rutrum
          finibus tellus eleifend fermentum. Vestibulum mattis ornare elit, non
          iaculis ipsum dignissim sit amet.
        </p>
        <p class="text-neutral-500">
          Nunc vitae diam mi. Fusce nulla velit, faucibus non purus sit amet,
          condimentum commodo diam. Nunc rutrum nisl ac pharetra condimentum.
          Pellentesque fringilla justo tortor, eu consequat orci faucibus non.
          Suspendisse accumsan felis non ornare feugiat. Phasellus sit amet
          tempus arcu, non placerat leo. Curabitur dictum aliquet elit, id
          congue leo consequat eget.
        </p>
      </div>
    </div>
  </div>
  <div class="bg-accent-400">
    <div class="cta | container">
      <p class="fs-800 fw-semi-bold">Haz una cita</p>
      <a href="https://wa.link/n2x0hq" target="_blank" class="button" data-type="green">Contáctanos</a>
    </div>
  </div>
</main>
