<div class="padding-block-end-400">
  <div class="service-container | container padding-block-200">
    <div class="img-container"></div>
    <div class="text-container | flow" data-spacing="tighter">
      <h2 class="fs-primary-heading text-primary-400 fw-semi-bold">
        Sobre Medicinas en Pelupet's
      </h2>
      <p class="text-neutral-500 fs-500">
        Ofrecemos una variedad de productos, alimentos y medicamentos para
        mantener a su mascota feliz y saludable. Nuestra farmacia interna para
        mascotas cuenta con medicamentos preventivos contra parásitos y
        medicamentos recetados que se utilizan para tratar lesiones y
        enfermedades de todo tipo. Nuestra principal prioridad es la seguridad
        de su mascota. En Pelupet's, los medicamentos recetados que
        tenemos y vendemos se compran directamente a los fabricantes. Usted sabe
        exactamente lo que está recibiendo y estamos disponibles para responder
        cualquier pregunta.
      </p>
    </div>
  </div>
</div>
