<main>
  <div class="top_heading | container">
    <h1 class="fs-secundary-heading fw-bold text-primary-400">Emergencia</h1>
  </div>
  <div class="emergency-container | container">
    <div class="emergency-container__text">
      <p class="text-neutral-500">
        Por favor, llame a uno de nuestros veterinarios de cabecera si su
        mascota está experimentando una emergencia durante las horas regulares
        de oficina. Si consideran que se justifica una derivación a uno de
        nuestros especialistas, o que su mascota debe ser atendida en el
        Pelupet's de inmediato, llamarán directamente al centro más cercano y
        establecerán la derivación inmediata del paciente. Independientemente de
        la hora del día, debe llamar con antelación cuando sea posible, para que
        nuestro equipo pueda comenzar a prepararse para su llegada.
      </p>
    </div>
    <div class="map" #map></div>
  </div>
  <div class="bg-primary-200">
    <div class="container padding-block-450 flow" data-spacing="tight">
      <h3 class="fs-700 text-primary-400 fw-semi-bold">Casos de Emergencia</h3>
      <div class="cirugia-container-flex">
        <div class="flow" data-spacing="tight">
          <div class="flow" data-spacing="tighter">
            <p class="fs-500 text-neutral-500">
              Cualquiera de las siguientes son razones para llamarnos o venir a vernos:
            </p>
            <ul class="text-neutral-500">
              <li>Cambios en el color de las encías</li>
              <li>Dificultad para respirar</li>
              <li>Reacción alérgica (urticaria, hinchazón facial, picor intenso u ojos rojos)</li>
              <li>Exposición a productos químicos</li>
              <li>Ingestión de material extraño</li>
              <li>Debilidad/cambios en el estado de alerta</li>
              <li>Convulsiones, pérdida del equilibrio e incapacidad para caminar</li>
              <li>Temblores</li>
              <li>Dolor, malestar o cojera</li>
              <li>Esfuerzo para orinar</li>
              <li>Abdomen distendido o hinchado</li>
              <li>Vómitos persistentes, diarrea o arcadas no productivas</li>
              <li>Ingestión de toxinas, plantas venenosas o medicamentos domésticos</li>
              <li>Dificultad en el parto de gatitos o cachorros</li>
              <li>Exposición a altas temperaturas</li>
              <li>Sangrado</li>
              <li>Atropello</li>
              <li>Caída desde altura</li>
              <li>Mordeduras de otros animales</li>
              <li>Huesos rotos</li>
              <li>Cambios de comportamiento o acciones que no le parecen correctas</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="bg-accent-400">
    <div class="cta | container">
      <p class="fs-800 fw-semi-bold">Haz una cita</p>
      <a  href="https://wa.link/n2x0hq" target="_blank" class="button" data-type="green">Contáctanos</a>
    </div>
  </div>
</main>
