.top_heading {
  padding-block: var(--size-400);
}

.cta {
  padding-block: var(--size-700);
  padding-inline: var(--size-300);
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    height: 38.5px;
  }
}

ul li {
  padding-inline-start: 10px;
  position: relative;
  list-style: none;
}

ul li::before {
  content: "";
  background: var(--clr-primary-400);
  width: 4px;
  height: 4px;
  position: absolute;
  top: 11px;
  left: 0;
  border-radius: 100%;
}

.emergency-container {
  display: flex;
  flex-direction: column;
  padding-block-end: 3rem;
  gap: 2rem;
  &__text {
    max-width: 48rem;
  }
}

.map {
  width: 100%;
  height: 300px;


}

@media screen and (min-width: 48rem){
  .cta {
    padding-inline: var(--size-200);
    padding-block: var(--size-550);
    justify-content: flex-end;
    p {
      margin-right: 25px;
    }
  }

  .emergency-container {
    flex-direction: row;
  }

}

@media screen and (min-width: 64rem){
  .top_heading {
    padding-block: var(--size-450);
  }
}
