<div class="padding-block-end-400">
  <div class="service-container | container padding-block-200">
    <div class="img-container"></div>
    <div class="text-container | flow" data-spacing="tighter">
      <h2 class="fs-primary-heading text-primary-400 fw-semi-bold">
        Sobre Vacunas en Pelupet's
      </h2>
      <p class="text-neutral-500 fs-500">
        No hay una manera mejor, o más fácil, de mantener a su mascota sana y
        protegida de enfermedades infecciosas que vacunándola con regularidad.
        Si tiene un nuevo cachorro o gatito, es imperativo que reciba sus
        primeras vacunas de refuerzo entre las 6 y 8 semanas de edad para
        desarrollar su inmunidad. Las vacunas para gatos y perros son una parte
        esencial del régimen de atención médica de por vida de cualquier animal
        de compañía. Aquí en Pelupet's, trabajaremos de cerca contigo para
        determinar las vacunas apropiadas para las necesidades de bienestar de
        tu mascota.
      </p>
    </div>
  </div>
</div>
