<div class="padding-block-end-400">
  <div class="service-container | container padding-block-200">
    <div class="img-container"></div>
    <div class="text-container | flow" data-spacing="tighter">
      <h2 class="fs-primary-heading text-primary-400 fw-semi-bold">
        Sobre Hostelería en Pelupet's
      </h2>
      <p class="text-neutral-500 fs-500">
        Los perros que se alojen con nosotros disfrutarán de una estadía, quemando
        cualquier exceso de energía durante un día completo de juego con nuestros perros
        de la guardería. Los perros se separan en salas de juegos supervisadas según su
        tamaño, estilo de juego y temperamento, lo que garantiza la comodidad y
        seguridad de todos nuestros huéspedes. Disfrutarán de 8 a 10 horas de juego
        abierto que presenta juegos mentales diseñados para mejorar los modales y el
        comportamiento. También habrá mucho tiempo para siestas y descansos, en caso de
        que lo requieran. Si su perro está almorzando, se le dará de comer al comienzo
        de la siesta y tendrá suficiente tiempo para digerir su comida antes de que
        pueda volver a jugar. Este tiempo privado también es cuando administramos
        cualquier medicamento, si corresponde.
      </p>
    </div>
  </div>
</div>
