<div class="padding-block-end-400">
  <div class="service-container | container padding-block-200">
    <div class="img-container"></div>
    <div class="text-container | flow" data-spacing="tighter">
      <h2 class="fs-primary-heading text-primary-400 fw-semi-bold">
        Sobre Diagnóstico por Imagen en Pelupet's
      </h2>
      <p class="text-neutral-500 fs-500">
        El Servicio de Diagnóstico por Imágenes y Radiología de Pelupet's utiliza
        tecnologías de imágenes avanzadas como radiografías (rayos X),
        ultrasonidos, tomografías computarizadas (TC) e imágenes por resonancia
        magnética (IRM) para el diagnóstico, pronóstico y planificación del
        tratamiento de Enfermedades en animales de compañía. El departamento
        cuenta con radiólogos certificados por la junta (Dr. Anthony Fischetti,
        Dr. Alexandre Le Roux y Dra. Antonia DeJesus), residentes de posgrado (un
        programa de tres años diseñado para preparar veterinarios con licencia
        para la certificación de la junta) y técnicos veterinarios con licencia.
        (LVTs) con amplia experiencia en tecnologías y técnicas de Diagnóstico por
        Imagen.
      </p>
    </div>
  </div>
</div>
